<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
     <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/App.css">
    <title>NOTES</title>
  </head>
  <body>
    <h1>Note taking app</h1>
    <div id="root"></div>
  </body>
  <script src="bundle.js"></script>
</html>
